@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --text-white: #ffffff;
  --text-black: #000000;
  --text-skyblue: #1fb0ff;
}

.text-skyblue {
  color: var(--text-skyblue);
}
.text-white {
  color: var(--text-white);
}
.text-black {
  color: var(--text-black);
}
